* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 15px 0px;
    height: 76vh;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    height: 100px;
    background-color: rgba(55, 172, 61, 0.966);
}

#logo img{
    width: 220px;
    height: 80px; 
    filter: drop-shadow(0 0 3px #fff);
}

#nome-escola {
    margin-left: 100px;
    color: white;
}
table {
    width: 70%;
    margin: 30px auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td {
    height: 30px;
}


.turma {
    width: 200px;
    background-color: rgb(171, 184, 180);
    padding: 5px;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

input {
    width: 15%;
    border-radius: 5px;
    border-color: darkgrey;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    
}



footer {
    background-color: rgb(216, 148, 0);
    padding: 10px 0px;
    color: rgb(7, 7, 7);
    text-align: center;
}

footer span {
    font-weight: bolder;
}